// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Fira Code', monospace;

$fontContent: 'Montserrat', sans-serif
$fontTitles: 'Open Sans', sans-serif
$fontCode: 'Fira Code', monospace

//Color generation through coolors.co https://coolors.co/c3f73a-b7f0ad-586994-7d869c-a2abab I realy like this first pattern ! Inspiring :)

$colorPrimary: #7d98a1
$colorSecondary: #e7efc5
$colorTertiary: #bfd7b5
$colorFourth: #5e6572
$colorFifth: #1c2321