.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c2321;
  height: 40vw;
  width: 40vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

#symbolBorder {
  border: 2px solid #7d98a1;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#symbol {
  font-size: 4rem;
  color: #7d98a1;
}

#name {
  font-family: "Open Sans", sans-serif;
  color: #7d98a1;
}

#mainMenu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #757e8e;
  height: 100vh;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mainMenu ul {
  list-style: none;
}

.mainMenuLinks {
  display: block;
  background-color: #1c2321;
  width: 80vw;
  height: 2.5rem;
  margin: 1rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 0.5rem;
}

.mainMenuLinks .anchorGradient {
  font-family: "Montserrat", sans-serif;
  color: #7d98a1;
}

.mainMenuLinks * {
  padding: 0;
}

#sideBarWrapper {
  position: fixed;
  right: 0;
}

#bigBar {
  background-color: #757e8e;
  height: 100vh;
  width: 3vw;
  border-radius: 1rem 0 0 1rem;
  position: relative;
  opacity: 0.85;
}

#buttonBar {
  position: absolute;
  top: 50%;
  left: -100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #757e8e;
  height: 5rem;
  width: 5rem;
  border-radius: 2rem 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.85;
}

@media screen and (min-width: 1200px) {
  #mainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #mainMenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1c2321;
    height: 50px;
    width: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
  }
  .logo #name {
    display: none;
  }
  #bigBar {
    display: none;
  }
  .mainMenuLinks {
    width: 120px;
  }
  #symbol {
    font-size: 0.8rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

a {
  text-decoration: none;
}

*:not(input) {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  text-align: justify;
}

hr {
  border-top: 2px solid #5e6572;
  margin: 1rem;
}

h1, h2, h3, h4, p {
  color: #5e6572;
}

main {
  overflow: hidden;
}

.boxwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
}

.top {
  background-image: url(https://picsum.photos/1920/1080);
}

.mid {
  background-image: url(https://picsum.photos/1920/1080);
}

.low {
  background-image: url(https://picsum.photos/1920/1080);
}

.box {
  width: 90vw;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
  padding: 20px;
}

.see-through-box {
  width: 90vw;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
  padding: 20px;
}

@media screen and (min-width: 1200px) {
  .box, .see-through-box {
    width: 98vw;
  }
  .image {
    height: 500px;
  }
}
/*# sourceMappingURL=main.css.map */